<div class="card">
	<form class="m-0" action="{{baseRoute}}" method="post">
		<div class="card-body">
			{{> residential/resident-form}}
		</div>
		<div class="card-footer d-flex justify-content-end">
			<button class="btn btn-primary" type="submit">
				<i class="fas fa-save mr-1"></i>
				Simpan
			</button>
		</div>
	</form>
</div>