{{#content "styles" mode="prepend"}}
	{{!-- prettier-ignore --}}
	<style type="text/css">
		.column-sticky-left {
			position: sticky;
			left: 0;
			z-index: 1;
			min-width:160px;
			max-width:160px;
		} 
		@media screen and (min-width: 768px) {
			.column-sticky-left {
				min-width: 220px;
				max-width: 220px;
			}
		}
	</style>
	{{!-- prettier-ignore --}}
{{/content}}
<div class="due-peruser" x-data="initDuePerUserData()">
	<div class="mt-3 pb-3">
		<div class="d-flex align-items-center justify-content-between">
			<div class="row g-3 align-items-center">
				<div class="col-auto">
					<label for="per_page" class="col-form-label">Show</label>
				</div>
				<div class="col-auto">
					<select class="form-select" name="per_page" aria-label="Data per halaman" x-model="pagination.per_page">
						<option value="10">10</option>
						<option value="20">20</option>
					</select>
				</div>
				<div class="col-auto">
					<span class="form-text">Entries</span>
				</div>
			</div>

			<a
				class="btn btn-primary"
				data-bs-toggle="collapse"
				href="#collapse-jimpitan-report-filter"
				role="button"
				aria-expanded="true"
				aria-controls="collapse-jimpitan-report-filter"
			>
				<i class="bi bi-funnel me-1"></i>
				Filter Riwayat
			</a>
		</div>

		<div class="collapse show" id="collapse-jimpitan-report-filter">
			<div class="mt-3 card card-body">
				<form class="row g-3">
					<div class="col-6 col-md-2">
						<label for="dues_month" class="form-label"> Bulan </label>
						<select
							class="form-select select2 {{echoif (lookup errors.fieldErrors 'dues_month') 'is-invalid'}}"
							name="dues_month"
							width="100%"
						>
							<option value=""></option>
							<template x-for="(month, monthIdx) in daysEachMonths">
								<option x-bind:value="monthIdx + 1" x-text="month.month" />
							</template>
						</select>
					</div>
					<div class="col-6 col-md-2">
						<label for="rw" class="form-label"> RW </label>
						<select
							class="form-select select2 {{echoif (lookup errors.fieldErrors 'community_assoc_id') 'is-invalid'}}"
							name="community_assoc_id"
							width="100%"
						>
							<option value=""></option>
							{{#each communityAssocs as |communityAssoc|}}
								<option value="{{communityAssoc.id}}">
									{{communityAssoc.name}}
								</option>
							{{/each}}
						</select>
					</div>
					<div class="col-6 col-md-2">
						<label for="resident_assoc_id" class="form-label"> RT </label>
						<select class="form-select" name="resident_assoc_id" aria-label="Pilih RT">
							<option value=""></option>
						</select>
					</div>
					<div class="col-12 col-md-4">
						<label for="resident" class="form-label">Warga</label>
						<input
							type="text"
							name="resident"
							class="form-control"
							placeholder="Nama Warga. Min: 3 char"
							aria-label="warga"
							x-model.debounce="filters.q"
						/>
					</div>
				</form>
			</div>
		</div>
	</div>

	<div class="table-responsive mb-2">
		<table class="table table-bordered">
			<thead>
				<tr>
					<th scope="col" class="column-sticky-left" rowspan="3">Warga</th>
					<th class="text-center" x-bind:colspan="duesMonth.days" x-text="duesMonth.month"></th>
				</tr>
				<tr>
					<template x-for="day in duesMonth.days">
						<th scope="col" class="text-center" x-text="day"></th>
					</template>
				</tr>
			</thead>
			<tbody>
				<template x-for="item in data">
					<tr>
						<td class="column-sticky-left">
							<div class="fw-bold text-truncate" x-text="`${item.user.firstname} ${item.user.lastname}`"></div>
							<span x-text="`${item.resident_assoc.name}, ${item.resident_assoc.community_assoc.name}`"></span>
						</td>
						<template x-for="day in duesMonth.days">
							<td
								class="text-center"
								x-bind:class="item.dues.includes(formatMonthDate(day)) ? 'text-success' : 'text-light'"
							>
								<i class="bi bi-check-square-fill"></i>
							</td>
						</template>
					</tr>
				</template>
			</tbody>
		</table>
	</div>

	<nav
		class="d-flex flex-column flex-md-row align-items-center justify-content-between"
		aria-label="Paginasi Riwayat Jimpitan Warga"
	>
		<p x-text="`Showing ${data_show.from} to ${data_show.to} of ${data_total} entries`"></p>
		<ul class="pagination">
			<li class="page-item">
				<a
					class="page-link"
					x-bind:class="!pagination.page_prev && 'disabled'"
					x-bind:disabled="!pagination.page_prev"
					x-on:click="goToPrevPage()"
				>
					Previous
				</a>
			</li>
			<template x-for="page in pagination.page_total">
				<li
					class="page-item"
					x-bind:class="pagination.page === page && 'active'"
					x-bind:aria-current="pagination.page === page && 'page'"
				>
					<a class="page-link" x-on:click.prevent="pagination.page = page;" x-text="page"></a>
				</li>
			</template>
			<li class="page-item">
				<a
					class="page-link"
					x-bind:class="!pagination.page_next && 'disabled'"
					x-bind:disabled="!pagination.page_next"
					x-on:click="goToNextPage()"
				>
					Next
				</a>
			</li>
		</ul>
	</nav>
</div>

{{#content "scripts" mode="prepend"}}
	{{!-- prettier-ignore --}}
	<script type="text/javascript">
		const currentMonthIndex = new Date().getMonth();
		function initDuePerUserData() {
			return {
				daysEachMonths: JSON.parse($('[name="daysEachMonths"]').val()),
				duesMonth: JSON.parse($('[name="daysEachMonths"]').val())[currentMonthIndex],
				filters: {
					communityAssocId: "",
					residentAssocId: "",
					q: "",
					month: currentMonthIndex + 1,
				},
				data: [],
				data_total: 0,
				data_show: {
					from: 0,
					to: 0,
				},
				pagination: {
					per_page: 10,
					page: 1,
					page_total: 1,
					page_next: null,
					page_prev: null,
				},
				init() {
					const root = this;

					$('.due-peruser [name="dues_month"]').select2({ placeholder: "Pilih Bulan", allowClear: true });
					$('.due-peruser [name="dues_month"]').change(function() {
						root.filters.month = $(this).val();
						root.duesMonth = root.daysEachMonths[$(this).val() - 1];
					});
					if (root.filters.month) {
						setTimeout(() => {
							$('.due-peruser [name="dues_month"]').val(root.filters.month).trigger("change");
						}, 300);
					}

					$('.due-peruser [name="community_assoc_id"]').select2({ placeholder: "Pilih RW", allowClear: true });
					$('.due-peruser [name="community_assoc_id"]').change(function() {
						root.filters.communityAssocId = $(this).val();

						root.filters.q = "";
						$('.due-peruser [name="resident_assoc_id"]').val("").trigger("change");

						const communityAssocId = $(this).val();
						const residentAssocsApiUrl = `/api/community-assocs/${communityAssocId}/resident-assocs`;
						select2AjaxHandler('.due-peruser [name="resident_assoc_id"]', residentAssocsApiUrl, {
							placeholder: "Pilih RT",
							allowClear: true,
						});
					});

					$('.due-peruser [name="resident_assoc_id"]').select2({ placeholder: "Pilih RT", allowClear: true });
					$('.due-peruser [name="resident_assoc_id"]').change(function() {
						root.filters.residentAssocId = $(this).val();
						root.filters.q = "";
					})

					root.$watch('filters', () => root.fetchDataPerUser());
					root.$watch('pagination.page', () => root.fetchDataPerUser());
					root.$watch('pagination.per_page', () => root.fetchDataPerUser());

					root.fetchDataPerUser();
				},
				async fetchDataPerUser() {
					const qParams = new URLSearchParams(this.getFilterQueries());
					qParams.append('pp', this.pagination.per_page);
					qParams.append('p', this.pagination.page);

					const fetchData = await fetch('/api/dues/income/peruser?' + qParams.toString());

					if (fetchData.status !== 200) return;

					const { data, data_total, data_show, pagination } = await fetchData.json();
					this.data = data;
					this.data_total = data_total;
					this.data_show = data_show;

					this.pagination.page_prev = pagination.page_prev;
					this.pagination.page_next = pagination.page_next;
					this.pagination.page_total = pagination.page_total;
				},
				formatMonthDate(date) {
					const datePrefixed = date < 10 ? `0${date}` : date;
					const monthPrefixed = this.filters.month < 10 
						? `0${this.filters.month}` 
						: this.filters.month;

					return `${monthPrefixed}-${datePrefixed}`;
				},
				getFilterQueries() {
					const qParams = new URLSearchParams();
					if(this.filters.communityAssocId) {
						qParams.append('f.cai', this.filters.communityAssocId);
					}
					if(this.filters.residentAssocId) {
						qParams.append('f.rai', this.filters.residentAssocId);
					}
					if(this.filters.q) {
						qParams.append('f.q', this.filters.q);
					}
					if(this.filters.month) {
						qParams.append('f.month', this.filters.month);
					}
					return qParams;
				},
				goToPrevPage() {
					if (!this.pagination.page_prev) return;
					this.pagination.page = this.pagination.page_prev;
				},
				goToNextPage() {
					if (!this.pagination.page_next) return;
					this.pagination.page = this.pagination.page_next;
				},					
			}
		}
	</script>
	{{!-- prettier-ignore --}}
{{/content}}