<div class="alert alert-info">
	<h5><i class="icon fas fa-info"></i> Selamat Datang!</h5>
	Role anda tercatat oleh sistem sebagai
	<b>kolektor iuran</b>, jika role anda tidak sesuai, silahkan hubungi
	administrator.
</div>