<div class="card">
	<form class="m-0" action="/admin/residential/community-assocs/{{data.id}}" method="post">
		{{{method "PUT"}}}
		<input type="hidden" name="id" value="{{data.id}}">
		<div class="card-body">
			{{> residential/community-assoc-form formData=data}}
		</div>
		<div class="card-footer d-flex justify-content-end">
			<button class="btn btn-primary" type="submit">
				<i class="fas fa-save mr-1"></i>
				Simpan
			</button>
		</div>
	</form>
</div>